@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NewYork";
  src: url('./assets/NewYork.otf');
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #111 #fff;
  scroll-behavior: smooth;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #111;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 1px solid #111;
}

p, ul {
  font-size: 20px;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 150ms ease;
}

@keyframes blobs {
  0% {
    transform: translatey(0);
  }
  50% {
    opacity: .5;
    transform: translatey(30%);
  }
}

.animate-blobs {
  animation: blobs 7s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}